<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.edu.co/unal/modev/repository/RepositoryDsl" 
       class = "co.edu.unal.modev.repository.repositoryDsl.RepositoryDslPackage"
       genModel = "model/generated/RepositoryDsl.genmodel" /> 
	
  </extension>



</plugin>
